
* {
    box-sizing: border-box;
}

#game {
    border: 1px solid black;
    margin: auto;
    width: 80%;
    max-width: 500px;

}

#options {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#field {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.light {
    border-radius: 1000px;
    border: 1px solid gray;
    background-color: rgb(255, 71, 71);
}

.on {
    background-color: rgb(0, 145, 0);
}